html,body {
  height:100%;
}
#map {
   width: 40%;
   position: fixed !important;
   bottom: 0;
   left: 0;
   top:45px;
   box-shadow: 0 1px 3px 0 #D4D4D5,0 0 0 1px #D4D4D5;
 }
 .refresh_button{
   position: fixed !important;
   top:55px;
   left:10px;
   z-index: 105;
 }

 #list{
   padding:20px;
   margin-left: 40%
 }
#container {
  height: 100%;
  margin-top: 45px;
}

#map .card-image-cropped {
  height: 75px;
}
.card-image-cropped {
  height: 175px;
  box-shadow: 0 1px 1px 0 #D4D4D5,0 0 0 1px #D4D4D5;
  background-size: cover !important;
  background-position: center !important;
  display: block !important;
}

.small.text{
  font-size:0.9em;
}

.ui.cards>.card {
  box-shadow:none;
}
.ui.cards>.card>:first-child{
  border-radius: 0 !important;
}
.ui.card>.content, .ui.cards>.card>.content{
  padding: 0;
}
.ui.cards>.focus{
  background-color:  #e6f2ff;
}
.card h5{
  color: black;
  font-size:1em;
  margin: 0.35em 0;
}

.map-labels {
    color: white;
    font-size: 10px;
    width: 20px;
    text-align: center;
    white-space: nowrap;
}

@media screen and (max-width: 480px) {
  #map {
     width: 100%;
     height: 40%;
   }
   #list{
     margin-left: 0;
     position: relative;
     top: 40%;
   }
 }

 @media screen and (max-aspect-ratio: 1/1){
   #map {
      width: 100%;
      height: 40%;
    }
    #list{
      margin-left: 0;
      position: relative;
      top: 42%;
    }
 }
